#nav {
  background-color: beige;
  top: 0;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 900;
}

.nav-list {
  padding: 0 10px;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-list-item {
  margin: 0 3px;
  font-weight: 500;
  cursor: pointer;
  list-style-type: none;
}

.nav-list-item:hover {
  color: red;
}

.search-container {
  position: absolute;
  margin-top: 12vh;
  width: 100%;
  min-height: 100%;
  z-index: 999;
}
